
<div
  class="card shadow my-3 p-5 m-auto embed-responsive embed-responsive-16by9"
  style="width: 41rem"
>
  <iframe
    width="560"
    height="315"
    class="embed-responsive-item"
    [src]="'https://www.youtube.com/embed/' + movieToBeWatched.id | safe"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <div class="card-body">
    <h5 class="card-title">{{ movieToBeWatched.title }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <strong>Genre</strong> : {{ movieToBeWatched.genre }}
    </li>
    <li class="list-group-item">
      <strong>Rating</strong> : {{ movieToBeWatched.rate }}
    </li>
    <li class="list-group-item">
      <strong>Description</strong> : {{ movieToBeWatched.description }}
    </li>
    <li class="list-group-item">
      <app-rating></app-rating>
    </li>
  </ul>
  <div class="card-body">
    <app-button
      routerLink="/"
      color="primary"
      text="Go Back Movies"
    ></app-button>
  </div>
</div>
<app-post></app-post>
