<div class="watchMovie embed-responsive embed-responsive-16by9">
  <iframe
    width="560"
    height="315"
    class="embed-responsive-item"
    [src]='"https://www.youtube.com/embed/" + movieToBeWatched.id | safe'
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p>Title : {{ movieToBeWatched.title }}</p>
  <p>Genre : {{ movieToBeWatched.genre }}</p>
  <p>Rate : {{ movieToBeWatched.rate }}</p>
  <p>Description : {{ movieToBeWatched.description }}</p>
  <app-button routerLink="/" color = "primary" text = "Go Back Movies"></app-button>
</div>
