<div >
  <select class="form-select m-3 border border-2 border-primary" aria-label="Default select example" (change)="selectMovieGenre($event)">
    <option selected>Filter With Movie Genres</option>
    <option value="all genres">All Genres</option>
    <option value="drama">Drama</option>
    <option value="action">Action</option>
    <option value="animation">Animation</option>
    <option value="comedy">Comedy</option>
    <option value="science fiction">Science-Fiction</option>
  </select>
</div>
