.search {
    display: flex;
    justify-content: center;
    width: 50% auto;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-align: center;
}

.searchInput {
    height: 40px;
    width: 43%;
    margin-right: 20px;
    border-radius: 5px;
    border: #0275d8 2px solid;
}
