<div class="card shadow p-5 my-3 m-auto" style="width: 41rem">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nickname</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div>
    <div class="form-group my-2 ">
      <label for="exampleFormControlTextarea1"
        >Post Your Commet About The Film:</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <app-button text="Submit" color="primary"></app-button>
  </form>
</div>
